body {
    background-image: url("https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg");
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -160px;
    width: 320px;
    height: 320px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, .08);
}

.form button {
    width: 100%;
}

.form p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.loginlogo {
    text-align: center;
    cursor: pointer;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginlogo img {
    width: 40px;
    margin-right: 8px;
}

.loginlogo span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    /*color: @primary-color;*/
}



@import '~antd/dist/antd.css';

.ant-menu-horizontal {
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item {
    border-top: 2px solid transparent;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item:hover {
    border-top: 2px solid #1890ff;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-active {
    border-top: 2px solid #1890ff;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-selected {
    border-top: 2px solid #1890ff;
}

.ant-menu-horizontal > .ant-menu-item-selected{
    border-bottom: 0px;
}


