.list {
    max-height: 400px;
    overflow: auto;
}

.list .item {
    transition: all 0.3s;
    overflow: hidden;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
}

.list .item .meta {
    width: 100%;
}

.list .item .avatar {
    background: #fff;
    margin-top: 4px;
}

.list .item .read {
    opacity: 0.4;
}

.list .item :last-child {
    border-bottom: 0;
}

.list .item :hover {
    background: #e6f7ff;
}

.list .item .title {
    font-weight: normal;
    margin-bottom: 8px;
    line-height: 1.5;
}

.list .item .description {
    font-size: 12px;
    line-height: 14px;
}

.list .item .datetime {
    font-size: 12px;
    margin-top: 4px;
    /*line-height: @line-height-base;*/
}

.list .item .extra {
    float: right;
    color: #e6f7ff;
    font-weight: normal;
    margin-right: 0;
    margin-top: -1.5px;
}

.notFound {
    text-align: center;
    padding: 73px 0 88px 0;
    color: #e6f7ff;
}

.notFound img {
    display: inline-block;
    margin-bottom: 16px;
    height: 76px;
}

.clear {
    height: 46px;
    line-height: 46px;
    text-align: center;
    /*color: #e6f7ff;*/
    /*border-radius: 0 0 @border-radius-base @border-radius-base;*/
    /*border-top: 1px solid @border-color-split;*/
    transition: all 0.3s;
    cursor: pointer;
}

.clear :hover {
     color: #e6f7ff;
}
