@import '~antd/dist/antd.css';

.ant-menu-horizontal {
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item {
    border-top: 2px solid transparent;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item:hover {
    border-top: 2px solid #1890ff;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-active {
    border-top: 2px solid #1890ff;
    border-bottom: 0px;
}

.ant-menu-horizontal > .ant-menu-item-selected {
    border-top: 2px solid #1890ff;
}

.ant-menu-horizontal > .ant-menu-item-selected{
    border-bottom: 0px;
}


#logo {
    overflow: hidden;
    padding-left: 20px;
    float: left;
    height: 64px;
    line-height: 64px;
    text-decoration: none;
    white-space: nowrap;
}

#logo img {
    height: 32px;
    margin-right: 16px;
}

#logo img+img {
    height: 16px;
    position: relative;
    top: 1px;
}
