.globalFooter {
    padding: 0 16px;
    margin: 16px 0 10px 0;
    text-align: center;
}

.globalFooter .links {
    margin-bottom: 8px;
}

.globalFooter .links a {
    transition: all 0.3s;
}

.globalFooter .links a :not(:last-child) {
    /*color: @text-color-secondary;*/
    margin-right: 40px;
}

.globalFooter .links a :hover {
    /*color: @text-color;*/
}

.globalFooter .copyright {
    /*color: @text-color-secondary;*/
    /*font-size: @font-size-base;*/
}

.like {
    display: flex;
    justify-content: center;
}